# Extras 
ipykernel
neo4j_graphrag
neo4j
voyageai
# pandas


dotenv
python-dotenv
requests
# PyMuPDF
openai
agno
ag-ui-protocol
dependency_injector
loguru
fastapi
duckduckgo-search
anthropic
supabase
uvicorn
newsapi-python
asyncpg
loguru

googlemaps 
elevenlabs
amadeus==7.1.0
isodate==0.6.0
 
google-maps-places
